<div class="row">
  <center>
  <div class="span4">
    <h3>Hello, <%= current_user.name %>!</h3>

    <p>
      Click a button to get started.
    </p>
  </div>

  <div class="span4">
    <p>
      <%= link_to "Get your code reviewed", new_snippet_path, :class =>
        "btn btn-primary btn-large" %>
    </p>
  </div>

  <div class="span4">
    <p>
      <a class="btn btn-primary btn-large" href="#">
        Review someone else's code
      </a>
    </p>
  </div>
</center>
</div>
