<div class="hero-unit">
  <h1>Get your code reviewed...</h1>
  <h4>by other people!</h4>

  <p>
    <a class="btn" href="#signup" data-toggle="modal">Sign up</a> 
    <a class="btn" href="#login" data-toggle="modal">Log in</a>
  </p>

</div>
</div>

<div class="modal fade" id="signup">
</div>

<div class="modal fade" id="login">
</div>

<input type="hidden" name="signup_url" id="signup_url" value="<%= new_user_path %>" />

<input type="hidden" name="login_url" id="login_url" value="<%= new_session_path %>" />
